#boards {
    background-color: green;
}

.board {
    padding: 10px 20px 10px 20px;
    background-color: blueviolet;
    margin: 20px 10px 20px 10px;
}

.New {

}

.In-progress{

}

.Testing{

}

.Done{

}

h1 {
    display: inline;
}

#newBoardButton {
    float: right;
}