#new-board-button, .new-card-button, .text-button {
    border-radius: 10px;
    font-family: monospace;
    background-color: #D9D9D9;
    box-shadow: 0 0 10px 0px;
    border-width: 0px;
    outline: none;
    transition-duration: 0.2s;
    font-size: 1.8rem;
}

#new-board-button {
    float: right;
    transform: translate(0,58%);
    user-select: none;
}

.new-card-button {
    transform: translate(0,-19%);
    user-select: none;
    margin-left: 20px;

}

#new-board-button:hover, .new-card-button:hover, .text-button:hover {
    color:white;
    background-color: #454545;
    transition-duration: 0.2s;
    cursor: pointer;
    outline: none;
}

h1 {
    font-family: monospace !important;
    font-size: 4.5rem !important;
    user-select: none;
    padding: 0 20px;
}

h2 {
    font-family: fantasy !important;
    font-size: 2.5rem !important;
    user-select: none;
    padding-top: 20px;
    padding-left: 10px;
}

body {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url("/static/background.jpg");
    background-repeat: repeat;
}

.board-header {
    width: -webkit-fill-available;
    height: 70px;
    background-color: #DEDEDE;
    box-shadow: 0 0 9px 0px, inset 0 0 46px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.darker {
    background-color: #E5E5E5;
}

th {
    font-family: monospace !important;
    height: 50px;
    text-align: center;
    font-size: 1.5rem !important;
}

th, td {
    box-shadow: inset 0 0 10px 0px;
}

td {
    vertical-align: baseline;
}

.board-body {
    width: -webkit-fill-available;
    height: 200px;
    background-color: #EDEDED;
    box-shadow: 0 0 10px 0px;
    table-layout: fixed
}

.board {
    margin: 40px 0;
}

#header-background {
    position: fixed;
    width: 100vw;
    height: 74px;
    background-color: #CFCFCF;
    top: 0;
    opacity: 0.7;
    z-index: -1;
    border-bottom: 1px dashed;
}

#boards {
    overflow: scroll;
    height: 91vh;
    margin-top: -0.5vh;
    padding: 0 6vw;
}

.my-card {
    background-color: #2E2E2E;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin: 6px;
    border: 1px solid black;
}


/*Card modal related css*/

.fa-times {
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.7;
}

.fa-times:hover {
    cursor: pointer;
    opacity: 1;
}

#card-container {
    z-index: 3;
    display: none;
    padding-top: 5vw;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.card-modal{
    z-index: 3;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.card-modal-content {
    margin: auto;
    background-color: #fff;
    position: absolute;
    outline: 0;
    height: auto;
    border-radius: 5px;
    top: 50vh;
    transform: translate(-50%,-50%);
    left: 50vw;
    box-shadow: 0px 0px 40vw 3vw black;
    font-family: fantasy;
}

.card-container {
    padding: 2vw;
    text-align: -webkit-center;
    height: auto;
}

.card-close-button {
    border: none;
    display: inline-block;
    padding: 0.5vw 2vw;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.5s;
}

.card-close-button:hover {
    background-color: #cccccc;
}

.card-display-top-right {
    position: absolute;
    right: 0;
    top: 0;
}

/*Additional card design*/

.card-design {
    border: 1px solid gray;
}

.card-title-design {
    font-size: 2.5vw;
    font-weight: bold;
    display: inline-block;
    border: 1px solid black;
}

.fa-save {
    margin: 0.5vw;
    padding-top: 10px;
    font-size: 2.5vw;
}

input {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    border: 0;
    border-bottom: 1px dashed black;
    width: 400px;
    outline: none;
    margin: 0 4vh;
}

input::selection {
    color: black;
    background-color: rgba(0, 0, 0, 0.3);
}

.my-skull-close-icon {
    position: absolute;
    top: 1vh;
    right: 1vh;
    font-size: 2em;
    cursor: pointer;
    transition-duration: 0.2s;
}

.my-skull-close-icon:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}